' Configuration file fo event_log.vbs includes main constants and variables
'Don't rename variables and constants!!!!

'Destination addresses ("To:")
Const strToAdresses = "daermolaev@mdi.ru,yusupov@mdi.ru,sofiich@mdi.ru"

'Domain suffix  ("From:")
Const strFromSuffix = "@mdi.ru"

'Post Server
Const strPostServer = "mdi.mdi.ru"

'Time to run script
Const strRunTime1 = 8
Const strRunTime2 = 16

'Periods for selection
Const strPeriod1 = 16
Const strPeriod2 = 8

'Event logs
Dim arrEventLogs: arrEventLogs = Array("Application", "System") 

'Folder for result files
Dim strFolder: strFolder = "C:\Events"

'Array of exclusions. First field - Source, second field - Category, third field - Code for event
'You must redefine the size of array if you add new exclusion!!!"
Dim arrExclusions(3, 4)
arrExclusions(0, 0) = "Brightmail"
arrExclusions(0, 1) = 9
arrExclusions(0, 2) = 514
arrExclusions(0, 3) = 0
arrExclusions(1, 0) = "Symantec Mail Security for SMTP"
arrExclusions(1, 1) = 0
arrExclusions(1, 2) = 2
arrExclusions(1, 3) = 0
arrExclusions(2, 0) = "Userenv"
arrExclusions(2, 1) = 0
arrExclusions(2, 2) = 1517
arrExclusions(2, 3) = 0